@keyframes tilt-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.note {
  box-sizing: border-box;
  background-color: var(--note-bgc);
  padding: 15px;
  height: 180px;
  width: 250px;
  //overflow-y: auto;
  position: relative;
  transition: all .5s;
  &.deleteAnimation {
    transform: scale(1.04);
  }
  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 35px;
    height: 35px;
    background-image: url("https://img.icons8.com/stickers/35/falling-star.png");
    transform: rotate(-43deg);
    //background-color: blue;

  }
  .close {
    position: absolute;
    top: -15px;
    right: -10px;
    cursor: pointer;
  }
  .title {
    font-size: 20px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4b4b45;
  }
  .subtitle {
    font-size: 15px;
    height: 115px;
    overflow-y: auto;
  }
}
