body {
  --primary: #F2F2F2;
  --primary-bgc: #CCC;
  --second-bgc: #04008A;
  --disabled-bgc: #DFDFDF;
  --note-bgc: #f4ff63;

  --primary-color: #222;
  --second-color: #fff;
  --disabled-color: #A8A8A8;

  --interactive-color: #BDBDBD;
  --interactive-color-light:#F2F2F2;

}
