.nav {
  margin-bottom: 20px ;
  padding: 15px 0;
}
.content {
  box-sizing: border-box;
  height: 85vh;
  background-color: #f1c893;
  padding: 15px;
  border: 5px dotted #a17059;
  //background-image: url("https://img.freepik.com/free-photo/stone-sand-wall-hard-surface_1253-727.jpg?w=996&t=st=1692270160~exp=1692270760~hmac=2f16aca7b4c33e28679e0080f36482ddfa8064e8878bd16b25de9bf7b9f405f1");
  max-width: 1200px;
  margin: 0 auto;
}
